<% layout("layouts/boilerplate") %>
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=campground._id %>?_method=PUT" method="post">
            <div class="mb-2">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="campground[title]" id="title"
                    value="<%=campground.title %>">
            </div>
            <div class="mb-2">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="campground[location]" id="location"
                    value="<%=campground.location %>">
            </div>
            <div class="mb-2">
                <label for="image" class="form-label">Image Url</label>
                <input type="text" class="form-control" name="campground[image]" id="image"
                    value="<%=campground.image %>">
            </div>
            <div class="mb-2">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" id="price" class="form-control" name="campground[price]" placeholder="0.00"
                        aria-label="price" aria-describedby="price-label" value="<%=campground.price %>">
                </div>
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" name="campground[description]"
                    id="description"><%=campground.description %></textarea>
            </div>
            <div class="mb-2"><button class="btn btn-info">Update campground</button>
            </div>
        </form>

        <a href="/campgrounds/<%=campground._id %>">Return to Campground</a>
    </div>